@model DATMOS.Web.ViewModels.UserProfileViewModel
@{
    Layout = "_ThemeLayout";
    ViewData["Title"] = "Account Settings";
}

<div class="row">
    <div class="col-md-12">
        <div class="nav-align-top">
            <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-md-0 gap-2">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">
                        <i class="icon-base ti ti-users icon-sm me-1_5"></i> Account
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="icon-base ti ti-lock icon-sm me-1_5"></i> Security
                    </a>
                </li>
                
            </ul>
        </div>
        @await Html.PartialAsync("_UserProfile", Model)
    </div>
</div>
