@{
  TempData.Keep();
  @* ViewData["navbarDetached"] = (ViewData["navbarDetached"] ?? "navbar-detached"); *@
  ViewData["navbarDetached"] = (ViewData["navbarDetached"] ??= null);
  ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
  
  // Set default TempData values if not already set
  if (TempData["appName"] == null)
  {
      TempData["appName"] = "DATMOS Learning Platform";
  }
  if (TempData["menuHorizontal"] == null)
  {
      TempData["menuHorizontal"] = false; // Default to vertical menu for Customer area
  }
  
  var navbarDetached = ViewData["navbarDetached"] as string;
  var containerNav = ViewData["containerNav"] as string;
}
@if (navbarDetached != null)
{
  <nav
  class='layout-navbar @navbarDetached @containerNav navbar navbar-expand-xl align-items-center bg-navbar-theme customer-navbar'
  id="layout-navbar">
  @await Html.PartialAsync("~/Areas/Customer/Views/Shared/Sections/Navbar/_CustomerNavbarPartial.cshtml")
  </nav>
}
else
{
  <nav
  class='layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme customer-navbar'
  id="layout-navbar">
  <div class='@containerNav'>
    @await Html.PartialAsync("~/Areas/Customer/Views/Shared/Sections/Navbar/_CustomerNavbarPartial.cshtml")
    </div>
  </nav>
}
