<!-- Style Switcher -->
<li class="nav-item dropdown-style-switcher dropdown">
  <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
    <i class='ti ti-md'></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
    <li>
      <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
        <span class="align-middle"><i class='ti ti-sun ti-md me-3'></i>Light</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
        <span class="align-middle"><i class="ti ti-moon-stars ti-md me-3"></i>Dark</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
        <span class="align-middle"><i class="ti ti-device-desktop-analytics ti-md me-3"></i>System</span>
      </a>
    </li>
  </ul>
</li>
<!-- / Style Switcher-->
